<footer>
  <div class="container">
    <div class="row middle-footer" style="margin: 0% 12% 0px 12%;">
    
<div class="col-sm-12 col-md-12 col-xs-12">
    <div class="row">
      <div class="col-sm-5 col-xs-12 fborder">
            <div id="about" class="collapse footer-collapse">  
            <div class="footleft">
                <h5>about us</h5>
                <p>TongKart enables and facilitates Indian retailers to source from drop ship wholesalers and manufacturers efficiently and effectively. The founders of TongKart have a combined experience of over 5 years in wholesale, retail inventory logistics management, and B2B platform in India. What is drop shipping anyway? Well, let's step back a little bit in time.</p>
                <br>
            </div>
            </div>
        </div>
      <div class="col-sm-4 col-xs-12 fborder">
        <div id="service" class="collapse footer-collapse">
        <ul class="list-unstyled lastb">
          <li><a href="{{ about_us }}">About Us</a></li>
          <li><a href="{{ privacy_policy }}">Privacy Policy</a></li>
          <li><a href="{{ terms }}">Terms And Conditions</a></li>
          <li><a href="{{ refund }}">Return, Refund & Cancellation Policy</a></li>
        </ul>
        </div>
      </div>
        <div class="col-sm-3 col-xs-12 fborder">
            <aside id="column-right">
    <div>  
        <h5>
            <span>Contact us</span>
        </h5>
        <div id="contact" class="collapse footer-collapse footcontact">
        <ul class="list-unstyled f-left">
          <li style="word-break: normal;"><i class="fa fa-map-marker"></i>Emaar Digital Greens Tower B, 914, Baharampur Naya, Sector 61, Gurugram, Haryana 122102</li>
          <!--<li><i class="fa fa-envelope"></i>info@tongkart.com</li>-->
          <li><i class="fa fa-phone"></i>0124 402 7896</li>
        </ul>
        <ul class="list-inline list-unstyled foot-payment">
        <li><a href="https://www.facebook.com/EcommerceEnabler/"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="https://www.linkedin.com/company/etail-consultants-private-limited/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/EtailConsultant"><i class="fa fa-twitter"></i></a></li>
        </ul>
        </div>
    </div>
  </aside>
        </div>
    </div>
      </div>

    </div>
  </div>
   <div class="copy text-center">
      Copyright @ 2019 TongKart All right reserved
    </div>
</footer>
<a href="" id="scroll" title="Scroll to Top" style="display: block;">
    <i class="fa fa-angle-up"></i>
</a>
      {{ fbottom_full }}


{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>
